body {
    /* prevent horizontal scrolling, especially on mobile */
    overflow-x: hidden;
    max-width: 100vw;
    font-family: sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px;
}
.card{
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 16px;
    margin: 0 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    overflow: hidden;
}
.region-selector {
    width: 200px;
    box-sizing: border-box;

    padding: 12px 16px;
    font-size: 1.1em;
    font-family: Arial, sans-serif;
    border: 2px solid #000;
    border-radius: 4px;
    background-color: #f9f9f9;
}
.region-selector option{
    white-space: normal; /* allow wrapping */
    word-wrap: break-word; /* break longer words if needed */
    overflow-wrap: break-word;
}
.region-selector:focus {
    border-color: #000;
    outline: none;
}

#toggle-btn{
    margin: 0;
    padding: 1rem 2rem;
    background-color: #f9f9f9;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}
#toggle-btn:hover{
    background-color: #f0f0f0;
}

.region, .option{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    overflow: hidden;
}

@media (min-width: 1200px) {
    .region {
        flex-direction: row;
        justify-content: center;
        gap: 17rem;
    }

    .region > div {
        width: 200px;
        flex-shrink: 0;
    }
}

.item_image{
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 32px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}
.card-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.shell-icon{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 8px;
}
.buy-link{
    align-self: flex-start;
}
.buy_button{
    display: inline-flex;
    align-items: center;
    background-color: #82AD60;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
}
.bar{
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    } 
.bar > a{
    text-decoration: none;
    color: inherit;
}
.orpheusmarket{
    display: inline-block;
}
.dino{
    margin-left: 15px;
    max-width: 40px;
    height: auto;
    vertical-align: middle;
}
.footer{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer > a{
    text-decoration: none;
    color: black;
    vertical-align: baseline;
}